<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

    <description>
        Java web development lab.
    </description>
    <display-name>Java web development lab</display-name>

    <!-- Simple servlet example configuration -->
    <servlet>
        <servlet-name>ServletExample</servlet-name>
        <servlet-class>com.lukye.JavaWebLab.ServletExample</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExample</servlet-name>
        <url-pattern>/servletExample</url-pattern>
    </servlet-mapping>

    <!-- Spring example configuration -->
    <servlet>
        <servlet-name>SpringServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringServlet</servlet-name>
        <url-pattern>/springExamples/*</url-pattern>
    </servlet-mapping>
</web-app>
